<div>
    <div class="d-flex model-header justify-content-between align-items-center">
        <h5 class="mb-0">{{data?.title ? data.title : ''}}</h5>
        <span class="material-icons cursor-pointer" (click)="dialogRef.close()">
          close
        </span>
    </div>

    <div class="model-body overflow-auto">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur efficitur, eros laoreet scelerisque
            ullamcorper, enim purus tempor libero, eget commodo nunc sapien eget sapien. Morbi venenatis, ex egestas
            viverra mattis, tortor magna semper sem, eu lobortis eros mi at lorem. Mauris fermentum mi ut lobortis
            euismod. Nunc eu enim ac sapien accumsan auctor. Sed nisi felis, tempus sit amet est sit amet, sodales
            tempor felis. Sed nulla nunc, laoreet at ex nec, faucibus malesuada ante. Duis ut mauris magna. Pellentesque
            id nibh id odio condimentum tincidunt. Praesent non ante ut neque suscipit pellentesque. Praesent
            consectetur ante eu cursus pharetra. Nam feugiat sapien non nibh faucibus interdum. Vestibulum imperdiet sit
            amet nisi non gravida. Curabitur luctus justo dolor, non aliquam leo euismod nec.

            Cras sagittis suscipit luctus. Ut scelerisque, augue eu condimentum maximus, lorem risus auctor tellus, sed
            ullamcorper sem est at enim. Proin eget tellus orci. Aliquam erat volutpat. Pellentesque sed lorem in neque
            sagittis ullamcorper. In commodo ac nulla dapibus vestibulum. Quisque lacus massa, efficitur sed dolor eget,
            pharetra bibendum enim. Cras porttitor, ipsum ac euismod luctus, nisi augue rutrum mi, non consequat mauris
            sem et erat. Nunc leo purus, semper et ullamcorper suscipit, iaculis a est. Nunc eget faucibus ex, sit amet
            varius lacus. Praesent vitae felis orci. Aliquam urna enim, tempor in enim vitae, commodo suscipit eros.
            Quisque dapibus eros nec quam elementum, eleifend scelerisque ipsum lacinia. Sed aliquam interdum eros, ac
            maximus elit porta vel. Aenean sed mi quis nunc eleifend tincidunt vel suscipit orci. Phasellus ut sem
            justo.

            Aliquam non elit tristique, bibendum ipsum vel, feugiat nulla. Nam quis libero a lectus rhoncus luctus.
            Suspendisse potenti. Aliquam erat volutpat. Cras sit amet lectus id ex faucibus sollicitudin ac sit amet
            risus. Phasellus at metus ut urna lobortis lobortis. Quisque ante eros, ullamcorper nec diam a, hendrerit
            iaculis sem. Phasellus at molestie ex. Maecenas non tellus porta, gravida enim vitae, faucibus mauris. Donec
            condimentum neque neque, eu convallis mauris fringilla non. Maecenas lorem ante, tincidunt nec metus ut,
            efficitur laoreet enim. Proin condimentum metus non mi iaculis, sit amet porta lectus dapibus. Integer odio
            nisl, interdum vitae ligula vitae, iaculis pulvinar nibh. Duis justo nibh, aliquet nec orci blandit, lacinia
            ornare urna. Ut risus enim, molestie at tincidunt eu, mollis a odio. Ut mollis est odio, sit amet commodo mi
            tristique quis.

            Suspendisse sed tincidunt leo, et pulvinar massa. Suspendisse mattis est et aliquam lobortis. Etiam id lacus
            vel libero sollicitudin lobortis eget et lorem. Aliquam sed ultricies ante. Suspendisse volutpat rhoncus ex
            sodales varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Curabitur venenatis, felis vitae dapibus dignissim, arcu est malesuada augue, quis vulputate turpis
            velit et neque. Vestibulum ornare congue nisi quis ultricies.

            Sed vehicula, risus ut facilisis cursus, magna nunc condimentum nulla, eu efficitur nisl turpis in odio.
            Mauris auctor vehicula diam a tempor. Morbi laoreet nisi nec tortor rhoncus, et vestibulum velit molestie.
            Ut velit nibh, cursus ac augue ut, luctus sagittis turpis. Morbi ultrices lorem vel viverra mollis. Integer
            tempus tellus nec lectus iaculis, vel dapibus nibh mollis. Ut in semper augue. In hac habitasse platea
            dictumst. Fusce eget bibendum metus. Sed non scelerisque purus, vitae fermentum libero. Pellentesque vel
            arcu ultrices, pulvinar nibh at, aliquet mi. Nulla eget dolor at elit pharetra egestas.
        </p>

       
        <div class="text-end mt-md-4 mt-2">
            <button class="roboto-font xmxr-secondary-btn bg-transparent border-0 me-md-3 me-1"
                (click)="dialogRef.close()" type="button">
                Close
            </button>
        </div>
    </div>
</div>