<mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <!-- Sidenav content -->
    <div>
        <ul class="navbar-nav me-auto mt-3">
            <li class="nav-item text-center border-bottom">
                <a class="nav-link py-2 text-dark" href="javscript:void(0);">Home</a>
            </li>
            <li class="nav-item text-center border-bottom">
                <a class="nav-link py-2 text-dark" href="javscript:void(0);">About</a>
            </li>
            
            <li class="nav-item text-center border-bottom">
                <a class="nav-link py-2 text-dark" href="javscript:void(0);">Contact Us</a>
            </li>
        </ul>
    </div>
</mat-sidenav>