<nav class="navbar navbar-expand-md mb-4 navbar-light bg-light">
  <div class="container-fluid position-relative">

    <button class="navbar-toggler shadow-none" type="button" (click)="opened = !opened" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/">Logo</a>

    <div class="user-profile">
      <ul class="list-unstyled list-inline mb-0">
        <li *ngIf="!!sharedService.isUserLoggedIn()">
          <a routerLink="/" class="text-decoration-none text-dark">Login</a>
        </li>
        <li class="list-inline-item" *ngIf="!sharedService.isUserLoggedIn()">
          <button mat-button [matMenuTriggerFor]="menu">
            <span class="d-none d-md-inline-block">
              {{sharedService.getUserName()}}
            </span>
            <img [attr.src]=sharedService.getUserImage() width="40"
              height="40" class="rounded-circle ms-2">
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="signOut()">Logout</button>
          </mat-menu>
        </li>
      </ul>
    </div>

  </div>

  <!-- <button (click)="signOut()">SignOut</button> -->
  <button id="navCat" class="d-none" (click)="navigateCat()"></button>


</nav>

<div [class.show-sidebar]="opened" class="sidebar-wrapper">
  <app-sidebar></app-sidebar>
</div>
