<div class="container">
    <div class="category-header d-flex justify-content-between">
        <h4>All Categories</h4>
        <button class="btn btn-primary rounded-0" (click)="addCategory()">Add Category</button>
    </div>

    <div class="list-wrapper mt-4">
       <ng-container *ngIf="categoriesList.length" >
        <div *ngFor="let categories of categoriesList;let i=index" class="list-item position-relative mb-4 px-4 d-md-flex align-items-center justify-content-center">
            <div class="list-item-info d-md-flex py-3 flex-grow-1" (click)="listItems(categories)">
                <img [src]="categories.profilePhoto" class="position-md-absolute" alt="category" />
                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                    <h5 class="m-0 f-11">{{categories.name.split('_')[1]}}</h5>
                    <span class="f-7">30 items</span>
                </div>
            </div>
            <div class="action-buttons text-center pb-3 pb-md-0">
                <ul class="list-unstyled m-0 list-inline d-flex">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editCategory(categories)'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteCategory(categories,i)">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
       </ng-container> 
    </div>

</div>