<div class="container">
    <div class="category-header d-flex flex-wrap justify-content-between align-items-center">
        <h4 class="app-color">All Categories</h4>
        <div class="d-flex justify-content-between w-100 w-sm-auto">
            <mat-form-field class="example-full-width search-form-field" floatLabel="never">
                <!-- <mat-label class="ms-2 app-color">Search...</mat-label> -->
                <span class="material-icons align-middle f-11 app-color" matPrefix>search</span>
                <input type="text" class="ms-2 app-color" placeholder="Search..." autocomplete="off" matInput>
            </mat-form-field>
            <button class="bg-transparent text-end flex-grow-1 pe-0 rounded-0 border-0 app-color roboto-font" mat-button
            [disableRipple]="true"
                [matMenuTriggerFor]="menu" *ngIf="sharedService.checkAccessTokenUser()">
                <span class="material-icons align-middle f-11">add</span>Add
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addCategory()"> <span class="material-icons align-middle f-11">add</span>
                Category</button>
            <button mat-menu-item> <span class="material-icons align-middle f-11">add</span> Model</button>
        </mat-menu>
    </div>

    <div class="list-wrapper mt-4">
        <ng-container *ngIf="categoriesList.length">
            <div class="row">
                <ng-container *ngFor="let categories of categoriesList;let i=index">
                    <div class="col-md-6 col-lg-4">
                        <div class="list-item position-relative darker-bg rounded parent-element cursor-pointer mb-4 d-flex align-items-end flex-column-reverse"
                            [ngStyle]="{ 'background-image': 'url(' + categories.profilePhoto + ')'}"
                            (click)="listItems(categories)">
                            <mat-progress-spinner class="spinner small-spinner" *ngIf="!categories.profilePhoto" mode="indeterminate" value="50">
                            </mat-progress-spinner>
                            <div class="list-item-info w-100 align-items-center px-2 py-2 d-flex justify-content-between"
                                (click)="$event.stopPropagation()">
                                <!-- <img [src]="categories.profilePhoto" class="" alt="category" /> -->
                                <!-- <div class="d-flex"> -->
                                <div class="text-center">
                                    <h5 class="m-0 f-11 text-white-color able-font">{{categories.name.split('_')[1]}}
                                    </h5>

                                </div>
                                <button class="app-color bg-transparent p-0 rounded dropdown-icon border-0"
                                    (click)='showOptions($event)'>
                                    <mat-icon class="align-middle">more_vert</mat-icon>
                                </button>

                                <!-- </div> -->
                            </div>
                            <span *ngIf="categories?.items" class="f-10 items-count text-center app-bg-color text-white-color mb-3 px-2 py-1 me-2">{{categories.items}}</span>
                                
                            <div class="action-buttons text-center rounded app-bg-color"
                            (click)="$event.stopPropagation()">
                                <ul class="list-unstyled m-0 list-inline d-flex">
                                    <li class="list-inline-item">
                                        <button class="bg-transparent p-2 p-md-3 border-start-0 border-top-0 border-bottom-0 app-color d-flex align-items-center"
                                            (click)='editCategory(categories)'>
                                            <img src="../../../assets/images/edit.svg" class="me-2" alt="edit" />
                                            Edit</button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="bg-transparent p-2 p-md-3 border-start-0 border-top-0 border-bottom-0 app-color d-flex align-items-center"
                                            (click)="shareCategory(categories)">
                                            <img src="../../../assets/images/share.svg" class="me-2" alt="share" />
                                            Share</button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="bg-transparent p-2 p-md-3 border-0 app-color d-flex align-items-center"
                                            (click)="deleteCategory(categories,i)">
                                            <img src="../../../assets/images/delete.svg" class="me-2" alt="delete" />
                                            Delete</button>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>

</div>

<app-loader *ngIf="false"></app-loader>