<div class="container">
    <div class="category-header d-flex justify-content-between">
        <h4>All Categories</h4>
        <button class="btn btn-primary rounded-0" (click)="addCategory()">Add Category</button>
    </div>

    <div class="list-wrapper mt-4">

        <div class="list-item position-relative mb-4 px-4 d-flex align-items-center justify-content-center">
            <div class="list-item-info d-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/355" alt="category" />
                <div class="ms-5 ps-5">
                    <h5 class="m-0 f-11">Category Name</h5>
                    <span class="f-7">30 items</span>
                </div>
            </div>
            <div class="action-buttons">
                <ul class="list-unstyled m-0 list-inline">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editCategory()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteCategory()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-item position-relative mb-4 px-4 d-flex align-items-center justify-content-center">
            <div class="list-item-info d-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/345" alt="category" />
                <div class="ms-5 ps-5">
                    <h5 class="m-0 f-11">Category Name</h5>
                    <span class="f-7">30 items</span>
                </div>
            </div>
            <div class="action-buttons">
                <ul class="list-unstyled m-0 list-inline">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editCategory()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteCategory()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-item position-relative mb-4 px-4 d-flex align-items-center justify-content-center">
            <div class="list-item-info d-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/335" alt="category" />
                <div class="ms-5 ps-5">
                    <h5 class="m-0 f-11">Category Name</h5>
                    <span class="f-7">30 items</span>
                </div>
            </div>
            <div class="action-buttons">
                <ul class="list-unstyled m-0 list-inline">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editCategory()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteCategory()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-item position-relative mb-4 px-4 d-flex align-items-center justify-content-center">
            <div class="list-item-info d-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/351" alt="category" />
                <div class="ms-5 ps-5">
                    <h5 class="m-0 f-11">Category Name</h5>
                    <span class="f-7">30 items</span>
                </div>
            </div>
            <div class="action-buttons">
                <ul class="list-unstyled m-0 list-inline">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editCategory()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteCategory()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>