<div class="container mt-5">
    <h5 class="mb-3">Demo Models</h5>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/354" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/355" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/356" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/357" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/358" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/353" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/352" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://picsum.photos/536/351" class="card-img-top" alt="test">
                <div class="card-body">
                    <p class="card-text">Item Name</p>
                </div>
            </div>
        </div>
    </div>
</div>