<div class="container-fluid">
    <h5 class="mb-3">Add Category</h5>
    <form>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name">
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza">
          </mat-form-field> -->
          <div class="text-center">

              <button class="btn d-block rounded-0 px-4 btn-dark p-3 mt-4">Create</button>
          </div>
    </form>
</div>