/* You can add global styles to this file, and also import other style files */

// @use '@angular/material' as mat;
@import '~@angular/material/theming';

$appBackground : #1e1e1e;
$appColor : #ffb118;
$lighterColor : #ffffff;
$darkerColor : #000000;
$navbarColor : rgb(36,36,36);
$model-header-bg : #ddd;

@font-face {
    font-family: 'able-regular';
    src: url(./assets/fonts/abel/Abel-Regular.ttf);
}

// @font-face {
//     font-family: 'segoe-ui-bold';
//     src: url(./assets/fonts/segoe-ui/Segoe-UI-Bold.ttf);
// }
 
/*--  Font Styles  --*/
@for $i from 1 through 40 {
    .f-#{$i} {
        font-size: ($i * .1rem) !important;
    }
}

.app-color-bg {
    background-color: $appColor;
}

nav {
    background-color: $navbarColor;
}

.app-bg-color {
    background-color: $appBackground;
}

.text-white-color {
    color: $lighterColor;
}

.app-color {
    color: $appColor;
}

.darker-bg {
    background-color: $darkerColor;
}

.mat-card {
    color: $darkerColor;
    font-family: 'able-regular',Roboto, "Helvetica Neue", sans-serif !important; 
}

.roboto-font {
    font-family: Roboto, "Helvetica Neue", sans-serif !important; 
}

.search-form-field {
    color: rgba(255,255,255,0.5);
    .mat-form-field-label,
    .mat-form-field-prefix {
        color: rgba(255,255,255,0.5);
    }
    .mat-form-field-underline {
        // background-color: rgba(255,255,255,0.5);
        display: none;
    }
}

.lh-auto {
    line-height: unset !important;
}

.small-spinner {
    svg {
        width: 50px !important;
        height: 50px !important;
    }
}

.xmxr-primary-btn {
    background-color: $appColor;
    color: $lighterColor;
    border-radius: 8px;
    padding: 5px 14px;
    box-shadow: -2px 0px 8px -2px rgb(0 0 0 / 50%);
}
.xmxr-secondary-btn {
    color: #ff0000;
}

.xmxr-model {
    mat-dialog-container {
        padding: 0;
        .model-header {
            padding: 13px;
            background-color: $model-header-bg ;
        }
        .model-body {
            padding: 30px 30px 50px 50px;
            .mat-form-field-label {
                color: rgba(0,0,0,.54) !important;
            }
            .mat-form-field-ripple {
                display: none;
            }
        }
    }
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $appColor;
    stroke-width : 6% !important;
}


// $my-custom-level: mat-typography-config(
//   $font-family: 'able-regular'
// );
// @include angular-material-typography($my-custom-level);

html, body { height: 100%;  }
body { 
    margin: 0; 
    font-family: 'able-regular',Roboto, "Helvetica Neue", sans-serif !important; 
    color: $darkerColor;
    background-color: $appBackground;
}
.cursor-pointer {
    cursor: pointer;
}