<div>
    <!-- <h5 class="mb-4">{{data?.title ? data.title : 'Item'}}</h5> -->
    <div class="d-flex model-header justify-content-between align-items-center">
      <h5 class="mb-0">{{data?.title ? data.title : 'Category'}}</h5>
      <!-- <span class="material-icons cursor-pointer" (click)="dialogRef.close()">
        close
      </span> -->
    </div>
    <form class="model-body">
        <mat-form-field class="example-full-width w-100">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="itemName" name="itemName">
          </mat-form-field>
            <!-- <input type="file" (change)="profileUpload($event)" class="d-none" id="uploadFile">
          <p>
            <label for="uploadFile" class="upload-picture-label w-100 cursor-pointer">{{fileName ? fileName : 'Upload Picture'}}</label>
          </p> -->

          <input type="file" (change)="profileUpload($event)" #profileImage class="d-none" id="uploadFile">
          <mat-form-field class="example-full-width w-100">
              <mat-label>Upload Picture</mat-label>
              <input matInput name="profileImage" type="text" (click)='profileImage.click()'>
          </mat-form-field>

          <!-- <input type="file" (change)="uploadmediaData($event)" class="d-none" id="uploadmedia">
          <p>
            <label for="uploadmedia" class="upload-picture-label w-100 cursor-pointer">{{mediaFileName ? mediaFileName : 'Upload / Enter Model URL'}}</label>
          </p> -->

          <input type="file" (change)="uploadmediaData($event)" #modelUrl class="d-none" id="uploadmedia">
          <mat-form-field class="example-full-width w-100">
              <mat-label>Upload / Enter Model URL</mat-label>
              <input matInput name="modelUrl" type="text" (click)='modelUrl.click()'>
          </mat-form-field>

          <!-- <div class="text-center">
              <button class="btn rounded-0 px-4 btn-dark p-3 mt-4" type="button" (click)="save()">
                {{data?.isEdit ? 'Save' : 'Upload'}}
              </button>
          </div> -->

          <div class="text-end mt-md-4 mt-2">
            <button class="roboto-font xmxr-secondary-btn bg-transparent border-0 me-md-3 me-1"
                (click)="dialogRef.close()" type="button">
                Cancel
            </button>
            <!-- <button class="btn d-block rounded-0 px-4 btn-dark p-3 mt-4" >Create</button> -->
            <button class="roboto-font border-0 py-2 px-4 xmxr-primary-btn" type="button">
                Upload
            </button>
        </div>

    </form>
</div>