<div class="container-fluid">
    <!-- <h5 class="mb-4">{{data?.title ? data.title : 'Item'}}</h5> -->
    <div class="d-flex mb-4 justify-content-between align-items-center">
      <h5 class="mb-0">{{data?.title ? data.title : 'Category'}}</h5>
      <span class="material-icons cursor-pointer" (click)="dialogRef.close()">
        close
      </span>
    </div>
    <form>
        <mat-form-field class="example-full-width w-100" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="itemName" name="itemName">
          </mat-form-field>
            <input type="file" (change)="profileUpload($event)" class="d-none" id="uploadFile">
          <p>
            <label for="uploadFile" class="upload-picture-label w-100 cursor-pointer">{{fileName ? fileName : 'Upload Picture'}}</label>
          </p>
          <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Upload / Enter Model URL</mat-label>
            <input disabled matInput name="modalUrl">
          </mat-form-field> -->
          <input type="file" (change)="uploadmediaData($event)" class="d-none" id="uploadmedia">
          <p>
            <label for="uploadmedia" class="upload-picture-label w-100 cursor-pointer">{{mediaFileName ? mediaFileName : 'Upload / Enter Model URL'}}</label>
          </p>
          <div class="text-center">
              <button class="btn rounded-0 px-4 btn-dark p-3 mt-4" type="button" (click)="save()">
                {{data?.isEdit ? 'Save' : 'Upload'}}
              </button>
          </div>
    </form>
</div>