<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4" id="authorize_button">
            <mat-card class="d-flex align-items-center justify-content-center" (click)="loginGoogle()" >Login</mat-card>
        </div>
        <!-- <div class="col-md-3 mb-4" id="signout_button">
            <mat-card class="d-flex align-items-center justify-content-center" >Logout</mat-card>
        </div> -->
        <div class="col-md-3 mb-4">
            <a routerLink="/access-token" class="text-decoration-none">
                <mat-card class="d-flex align-items-center justify-content-center" (click)="loginWithAccessToken()">Enter Token</mat-card>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a routerLink="/demo-model" class="text-decoration-none">
                <mat-card class="d-flex align-items-center justify-content-center">Demo Models</mat-card>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a routerLink="/test-model" class="text-decoration-none">
                <mat-card class="d-flex align-items-center justify-content-center">Test Your Model</mat-card>
            </a>
        </div>
        <!-- <button id="loggedin" style="display: none;" (click)="logCategories()">create</button> -->
    </div>

</div>