<div class="container">
    <div class="category-header d-flex flex-wrap align-items-center justify-content-between">
        <h4 class="m-0">
            <span class="material-icons cursor-pointer app-color f-30 align-middle" *ngIf="sharedService.checkAccessTokenUser()"
                (click)="bactToCategories()">
                navigate_before
            </span>
            <span class="text-white-color">
                {{parentCategoryData?.name.split('_')[1]}}
            </span>
        </h4>
        <!-- <button class="btn btn-primary rounded-0"  *ngIf="sharedService.checkAccessTokenUser()">Add Item</button> -->
        <button class="bg-transparent rounded-0 border-0 app-color" mat-button (click)="addItem()"
            *ngIf="sharedService.checkAccessTokenUser()">
            <span class="material-icons align-middle f-11">add</span>Add Item
        </button>
    </div>

    <div class="list-wrapper mt-4">
        <ng-container *ngIf="itemsList?.length">
            <div class="row">
                <ng-container *ngFor="let items of itemsList;let i=index">
                    <div class="col-md-6 col-lg-4">
                        <div [ngStyle]="{ 'background-image': 'url(' + items.webContentLink + ')'}"
                            (click)="openViewMedia(items)"
                            class="list-item parent-element position-relative darker-bg mb-4 rounded d-flex align-items-end flex-column-reverse">
                            <mat-progress-spinner class="spinner small-spinner" *ngIf="!items.webContentLink"
                                mode="indeterminate" value="50">
                            </mat-progress-spinner>
                            <!-- <div class="list-item-info py-3 flex-grow-1">
                                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                                    <h5 class="m-0 f-11">{{items?.name?.split('_')[1].split('.')[0]}}</h5>
                                </div>
                            </div> -->
                            <div class="list-item-info w-100 align-items-center px-3 py-2 d-flex justify-content-between"
                                (click)="$event.stopPropagation()">
                                <div class="text-center">
                                    <h5 class="m-0 f-11 text-white-color able-font">
                                        {{items?.name?.split('_')[1].split('.')[0]}}
                                    </h5>

                                </div>
                                <button class="app-color bg-transparent p-0 rounded dropdown-icon border-0" *ngIf="sharedService.checkAccessTokenUser()"
                                    (click)='showOptions($event)'>
                                    <mat-icon class="align-middle">more_vert</mat-icon>
                                </button>

                                <!-- </div> -->
                            </div>

                            <div class="action-buttons text-center rounded app-bg-color"
                                (click)="$event.stopPropagation()">
                                <ul class="list-unstyled m-0 list-inline d-flex"
                                    *ngIf="sharedService.checkAccessTokenUser()">
                                    <li class="list-inline-item m-0 list-inline d-flex">
                                        <!-- <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem(items)'>Edit</a> -->
                                        <button
                                            class="bg-transparent p-2 p-md-3 border-start-0 border-top-0 border-bottom-0 app-color d-flex align-items-center"
                                            (click)='editItem(items)'>
                                            <img src="../../../assets/images/edit.svg" class="me-2" alt="edit" />
                                            Edit</button>
                                    </li>
                                    <li class="list-inline-item">
                                        <!-- <a href="javascript:void(0);" class="text-decoration-none mx-5" (click)="shareCategory(items)">Share</a> -->
                                        <button
                                            class="bg-transparent p-2 p-md-3 border-start-0 border-top-0 border-bottom-0 app-color d-flex align-items-center"
                                            (click)="shareCategory(items)">
                                            <img src="../../../assets/images/share.svg" class="me-2" alt="share" />
                                            Share</button>
                                    </li>
                                    <li class="list-inline-item">
                                        <!-- <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem(items,i)">Delete</a> -->
                                        <button
                                            class="bg-transparent p-2 p-md-3 border-0 app-color d-flex align-items-center"
                                            (click)="deleteItem(items,i)">
                                            <img src="../../../assets/images/delete.svg" class="me-2" alt="delete" />
                                            Delete</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- <div class="list-item position-relative mb-4 py-2 px-4 d-md-flex align-items-center justify-content-center">
            <div class="list-item-info d-md-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/345" class="position-md-absolute" alt="category" />
                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                    <h5 class="m-0 f-11">Item Name</h5>
                </div>
            </div>
            <div class="action-buttons text-center pb-3 pb-md-0">
                <ul class="list-unstyled m-0 list-inline d-flex">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="list-item position-relative mb-4 py-2 px-4 d-md-flex align-items-center justify-content-center">
            <div class="list-item-info d-md-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/359" class="position-md-absolute" alt="category" />
                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                    <h5 class="m-0 f-11">Item Name</h5>
                </div>
            </div>
            <div class="action-buttons text-center pb-3 pb-md-0">
                <ul class="list-unstyled m-0 list-inline d-flex">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-item position-relative mb-4 py-2 px-4 d-md-flex align-items-center justify-content-center">
            <div class="list-item-info d-md-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/351" class="position-md-absolute" alt="category" />
                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                    <h5 class="m-0 f-11">Item Name</h5>
                </div>
            </div>
            <div class="action-buttons text-center pb-3 pb-md-0">
                <ul class="list-unstyled m-0 list-inline d-flex">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem()">Delete</a>
                    </li>
                </ul>
            </div>
        </div> -->


    </div>

</div>