<div class="container">
    <div class="category-header d-flex align-items-center justify-content-between">
        <h4>
            <span class="material-icons cursor-pointer f-30 align-middle" (click)="bactToCategories()">
                navigate_before
            </span>
            {{parentCategoryData?.name.split('_')[1]}}
        </h4>
        <button class="btn btn-primary rounded-0" (click)="addItem()">Add Item</button>
    </div>

    <div class="list-wrapper mt-4">
        <ng-container *ngIf="itemsList?.length">
            <div *ngFor="let items of itemsList;let i=index"
                class="list-item position-relative mb-4 py-2 px-4 d-md-flex align-items-center justify-content-center">
                <div class="list-item-info d-md-flex py-3 flex-grow-1">
                    <img [src]="items.thumbnailLink" class="position-md-absolute" alt="category" />
                    <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                        <h5 class="m-0 f-11">{{items?.name?.split('_')[1]}}</h5>
                    </div>
                </div>
                <div class="action-buttons text-center pb-3 pb-md-0">
                    <ul class="list-unstyled m-0 list-inline d-flex">
                        <li class="list-inline-item">
                            <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem(items)'>Edit</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem(items,i)">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>

        <!-- <div class="list-item position-relative mb-4 py-2 px-4 d-md-flex align-items-center justify-content-center">
            <div class="list-item-info d-md-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/345" class="position-md-absolute" alt="category" />
                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                    <h5 class="m-0 f-11">Item Name</h5>
                </div>
            </div>
            <div class="action-buttons text-center pb-3 pb-md-0">
                <ul class="list-unstyled m-0 list-inline d-flex">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="list-item position-relative mb-4 py-2 px-4 d-md-flex align-items-center justify-content-center">
            <div class="list-item-info d-md-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/359" class="position-md-absolute" alt="category" />
                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                    <h5 class="m-0 f-11">Item Name</h5>
                </div>
            </div>
            <div class="action-buttons text-center pb-3 pb-md-0">
                <ul class="list-unstyled m-0 list-inline d-flex">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem()">Delete</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="list-item position-relative mb-4 py-2 px-4 d-md-flex align-items-center justify-content-center">
            <div class="list-item-info d-md-flex py-3 flex-grow-1">
                <img src="https://picsum.photos/536/351" class="position-md-absolute" alt="category" />
                <div class="ms-md-5 ps-md-5 text-md-start mt-2 mt-md-0 text-center">
                    <h5 class="m-0 f-11">Item Name</h5>
                </div>
            </div>
            <div class="action-buttons text-center pb-3 pb-md-0">
                <ul class="list-unstyled m-0 list-inline d-flex">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)='editItem()'>Edit</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none mx-5">Share</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" class="text-decoration-none" (click)="deleteItem()">Delete</a>
                    </li>
                </ul>
            </div>
        </div> -->


    </div>

</div>